body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 72px;

}

img {
    min-width: 100%;
    min-height: 100%;
}

#overlay1 {
    color: red;
    position: fixed;
    top: 50px;
    left: 50px;
}

#overlay2 {
    color: blue;
    position: fixed;
    top: 50px;
    right: 50px;
}